.footer {
  background-color: #34495C;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
} 

@media (min-width: 1535) {
  .footer{
      height: 100px;    
  }    
}

@media (min-width: 500px) {
  .footer{
      height: 80px;    
  }    
}