.nav-style {
  width: 100%;
  background-color: #34495c; 
  /* background-color: #BFBFBF; */
  height: 75px;
  margin-bottom: 110px;
  position: relative;
}
.home-style {
  position: absolute;
  left: 20px;
  top: 25px;
}
.logout-style {
  position: absolute !important;
  right: 20px;
  top: 22px;
}

.darkmode-style{
  position: absolute !important;
  right: 70px;
  top: 22px;
  margin-right: 20px;
}