@media (min-width: 0px) {
  .title-header {
    text-align: center;
    font-size: 44px;
    margin: 40px 0px 32px 0px;
  }

  .subtitle-header {
    font-size: 22px;
    text-align: center;
    margin-bottom: 26px;
  }

  .button-header {
    display: flex;
    justify-content: center;
  }

  .title-button {
    background-color: #E7E7E7;
    color: black;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 15px;
    border-color: #E7E7E7;
    cursor: pointer;
  }

  .book-css {
    width: 80%;
    height: auto;
  }
}

/* @media (max-width: 1210px)  {
  .content-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 90%;
  }
  .title-container {
    width: 100%;
  }
  .book-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
  }
} */
@media (min-width: 801px) {
  .title-header {
    text-align: center;
    font-size: 64px;
    margin: 40px 0px 32px 0px;
  }

  .subtitle-header {
    font-size: 32px;
    text-align: center;
    margin-bottom: 26px;
  }

  .button-header {
    display: flex;
    justify-content: center;
  }

  .title-button {
    background-color: #E7E7E7;
    color: black;
    font-size: 26px;
    padding: 15px 50px;
    border-radius: 15px;
    border-color: #E7E7E7;
    cursor: pointer;
  }

  .book-css {
    max-width: 500px;
    height: auto;
  }
}

@media (min-width: 1535px) {
  .content-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    /* height: 90%; */
  }

  .title-container {
    width: 55%;
  }

  .title-header {
    margin-top: 20%;
    margin-left: 25%;
    font-size: 64px;
  }

  .subtitle-header {
    margin-left: 25%;
    margin-top: 30px;
    font-size: 32px;
  }

  .title-button {
    background-color: #E7E7E7;
    color: black;
    font-size: 16px;
    padding: 10px 60px;
    border-radius: 5px;
    border-color: #050505;
    margin: 25px 0px 10px 25%;
    cursor: pointer;
  }

  .image-container {
    width: 45%;
  }

  .book-css {
    margin-top: 25%;
    height: auto;
  }
}

/* .modal-container {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: #E7E7E7 solid 5px;
  background-color: white;
} */