@font-face {
  font-family: Roboto;
  src: url('./fonts/RobotoRegular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

html,
body {
  line-height: 1.4;
  height: 100%;
  background-color: #D8D8D8;
  text-align: center;
}

.App,
#root {
  height: 100%;
  position: relative;
}

/* #root{
  height: 100%;
} */
a {
  color: black;
  text-decoration: none;
}